@using PowerliftingCalculator.Models.CalculatorViewModel;
@model CalculatorViewModel;
@{
	ViewData["Title"] = "Result";
}
<div class="text-center">
    <h1 class="display-4">Your estimated total is:</h1>
	<h5 class="card-title mt-5">@Model.Total</h5>
</div>
